.page-cover .container {
  position: relative;
}
a {
  text-decoration: none;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.main-navbar .navbar-nav li .dropdown-menu {
  top: 83px;
}
.main-navbar .navbar-nav li .dropdown-menu.dropdown-menu-right {
  right: 0;
  left: auto;
}
#myOverlay form {
  display: flex;
  justify-content: center;
}
#myOverlay form > div {
  width: 100%;
}
#popup-ad .modal-body .close {
  top: 9px;
  right: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navbar .navbar-nav > li > a {
  text-wrap: nowrap;
}
.main-navbar .navbar-nav > li > a .fa-angle-down {
  margin-top: 3px;
}
.navbar-toggler {
  border: 0;
  color: #000000;
}
.form-group {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .main-navbar .navbar-search-link > li:last-child {
    margin-top: 0px;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.row > .owl-carousel {
  padding: 0;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.side-bar .detail-block table tr:last-child td {
  background: #333;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.custom-form button {
  width: 100%;
}

/* Admin panel */
.position-absolute {
  position: absolute !important;
}

.main-info.package-info {
  line-height: normal;
  font-size: 0.875rem;
}

.main-info.package-info a.btn_1 {
  border-radius: 25px;
  background-color: #fa1a1a;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  width: 100%;
}

.main-info.package-info a.btn_1.sold-out {
  border-radius: 25px;
  background-color: grey;
  border: none;
  outline: none;
  pointer-events: none;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  width: 100%;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  text-indent: initial;
  border-spacing: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
  line-height: 2;
}

table.details > tbody > tr > td {
  padding: 0;
  font-size: 14px;
}

.icon {
  width: 50px;
}

.outer-title {
  line-height: 50px;
}

.inner-title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.text-title {
  color: #333 !important;
}

.ftr-logo {
  background: url("../assets/img/ftr-logo.png") no-repeat center;
  background-size: contain;
}
